body {
  background-color: beige;
  min-height: 100vh; /* pour que mes éléments dans le body prennent tte la largeur de ma page web*/

  display: grid; /*pour signifier que l'on veut faire du grid*/
  grid-template-columns: 20% auto; /*mettre auto pour utiliser le reste 80% ça marche aussi*/
  grid-template-rows: auto; /*de préférence, ne pas utiliser des px (taille fixe)*/

  grid-template-areas:
    "header header header"
    "nav section section";
}

header {
  color: white;
  background-color: steelblue;
  text-align: center;
  font-size: 3em; /*ne pas mettre de pixel*/
  padding: 0.005mm; /*marge intérieure*/
  grid-area: header;
}

nav {
  color: white;
  background-color: lightblue;
  height: 1000px;
  border: 2px solid lightskyblue;
  grid-area: nav;
}

section {
  padding: 1%;
  grid-area: section;
}

article {
  color: blue;
  border: 2px solid blue;
  border-radius: 25px;
  box-shadow: 2px 2px grey;
  margin-left: 0.5%;
  margin-bottom: 1%;
  overflow: auto; /**/
}
