body {
  background-color: beige;
}

header {
  color: white;
  background-color: steelblue;
  text-align: center;
  padding: 0.005mm;
}

nav {
  color: white;
  background-color: lightblue;
  float: left;
  width: 20%;
  height: 1000px;
  border: 2px solid lightskyblue;
}

section {
  margin-left: 21%;
  padding: 1%;
}

article {
  color: blue;
  border: 2px solid blue;
  border-radius: 25px;
  box-shadow: 2px 2px grey;
  margin-left: 0.5%;
  margin-bottom: 1%;
  overflow: auto;
}

section img,
section video {
  float: left;
  width: 30%;
  height: 30%;
  margin: 0 1em 1em 0;
}

iframe {
  float: left;
  width: 30%;
  margin: 0 1em 1em 0;
}
