body {
  background-color: beige;
  min-height: 100vh; /* pour que mes éléments dans le body prennent tte la largeur de ma page web*/
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  background-color: steelblue;
  text-align: center;
  font-size: 3em; /*ne pas mettre de pixel*/
  padding: 0.005mm; /*marge intérieure*/
}

#contenu_principal {
  display: flex;
  flex-direction: row;
}

nav {
  color: white;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 1000px;
  border: 2px solid lightskyblue;
}

section {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

article {
  color: blue;
  border: 2px solid blue;
  border-radius: 25px;
  box-shadow: 2px 2px grey;
  margin-left: 0.5%;
  margin-bottom: 1%;
  overflow: auto;
}

section img {
  float: left;
  width: 30%;
  height: 30%;
  margin: 0 1em 1em 0;
}

iframe {
  float: left;
  width: 30%;
  margin: 0 1em 1em 0;
}
