h2 {
  color: white;
  background-color: steelblue;
}

nav {
  color: white;
  background-color: lightblue;
  width: 15%;
  float: left;
  border: 1px solid lightskyblue;
}

section {
  color: blue;
  border: 2px solid blue;
  width: 84%;
  margin-left: 16%;
}
